################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/KGCA45/.vs/KGCA45
/.vs
/KGCA45/GameEngineDemo/x64/Debug
/KGCA45/x64/Debug
/KGCA45/GameEngineDemo/ClassDiagram.cd
/output
*.user
/DirectXTK-main/DirectXTK-main
